<h1><%= 'new role' %></h1>

<%= error_messages_for :role %>

<% form_for :role, :url => roles_path do |f| -%>
	<%= render :partial => 'form', :object => f %>

	<div class="span-4 last" >
		<%= f.submit '提交' %>
	</div>
<% end -%>


<hr />